* {
  margin: 0;
  padding: 0;
}
header {
  background-color: #d6d6d6;
  padding: 20px;
}

nav {
  display: flex;
  position: sticky;
  top: 0px;
  background-color: #79a3e7;
}

.box {
  background-color: black;
  color: white;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  padding: 10px;
}

.prompt {
  height: 400px;
  width: 400px;
  border: 1px solid black;
}

.box {
  position: relative;
  top: 400px;
  height: 300px;
  width: 300px;
  background-color: black;
}

.bigSpace {
  background-color: #d6d6d6;
  height: 200vh;
}
.bottomMenu {
  position: sticky;
  display: flex;
  bottom: 0px;
  justify-content: end;
}
.chatPrompt {
  width: 500px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  background-color: white;
}
