* {
  padding: 0;
  margin: 0;
}

#title {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

.highlight {
  background-color: beige;
  font-size: 0.2rem;
}

.highlight {
  background-color: beige;
  font-size: 1rem;
}

.parent {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

input[type="text"] {
  font-size: 50px;
}

.box {
  